{% extends "base.html" %}
{% block content %}
    <h1 class="my-5">These are the notes:</h1>
<div class="container">
  <div class="row row-cols-6 g-2">
    <div>ID</div>
    <div>Title</div>
    <div>Content</div>
    <div>Created At</div>
    <div>Updated</div>
    <div>Likes</div>
  </div>
    {% for note in notes %}

      <a href="{% url 'notes.detail' pk=note.id %}" class="text-decoration-none text-dark">
    <div class="row row-cols-6 p-3 border">
        <div class="">{{ note.id }}</div>
      
      <div>{{ note.title }}</div>
      <div>{{ note.text| truncatechars:10 }}</div>
      <div>{{ note.created|date:"Y-m-d" }}</div>
      <div>{{ note.updated_at|date:"Y-m-d" }}</div>
      <div>{{ note.likes }}</div>
    </div>
    </a>
    {% empty %}
    <div class="row py-2">
      <div class="col text-center text-muted">No notes available.</div>
    </div>
    {% endfor %}
</div>
{% endblock %}