<html>
    <h1>Note Details</h1>
    <table border="1" style="border-collapse: collapse;">
        <style>
            table th, table td {
                padding: 8px;
            }
        </style>
        <tr>
            <th>ID</th>
            <td>{{ note.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ note.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ note.text }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ note.created }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ note.updated_at }}</td>
        </tr>
        <tr>
            <th>Likes</th>
            <td>{{ note.likes }}</td>
        </tr>
    </table>
    <a href="{% url 'notes:notes_list' %}">Back to notes list</a>
</html>